<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScheduleGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevelopmentEnvironmentManager.WPF.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ScheduleGenerator.Properties.Settings>
      <setting name="LogosPath" serializeAs="String">
        <value>C:\Program Files (x86)\eFootball PES 2021\sider\livecpk\SoFrench Patch\Graphics\common\render\symbol\flag</value>
      </setting>
    </ScheduleGenerator.Properties.Settings>
  </applicationSettings>
</configuration>